<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-free-6.1.2-web/css/all.min.css') }}">

    <title>SignUp</title>
    <style>
        /* body {
            background-color: #FFD100;
        } */
    </style>
</head>

<body>
    {% if user != None %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline my-1"><h2>ADMIN</h2></span>
                    </a>
                    <hr class="dropdown-divider">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0" aria-current="page">
                                <i class="fa-solid fa-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fa-solid fa-user-plus"></i> <span class="ms-1 d-none d-sm-inline">ผู้ใช้งาน</span> </a>
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/register" class="nav-link px-0"> <span class="d-none d-sm-inline">เพิ่มผู้ใช้งาน</span><i class="fa-solid fa-user-plus"></i></a>
                                </li>
                                <li>
                                    <a href="/add_role" class="nav-link px-0"> <span class="d-none d-sm-inline">กำหนดสิทธิ์ผู้ใช้งาน</span><i class="fa-sharp fa-solid fa-person-circle-check"></i></a>
                                </li>
                            </ul>
                        </li> -->
                        <li>
                            <a href="/loss_threshold" class="nav-link px-0 align-middle">
                                <i class="fa-solid fa-chart-simple"></i> <span class="ms-1 d-none d-sm-inline">เกณฑ์ค่ามาตรฐาน</span></a>
                        </li>
                        <li>
                            <a href="/olt_power" class="nav-link px-0 align-middle">
                                <i class="fa-solid fa-bolt"></i> <span class="ms-1 d-none d-sm-inline">olt power</span> </a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-auto align-middle active">
                                <i class="fa-solid fa-users"></i> <span class="ms-1 d-none d-sm-inline">ผู้ใช้งาน</span></a>
                            <ul class="collapse nav flex-column ms-1 align-items-center" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/register" class="nav-link px-0"> <i class="fa-solid fa-user-plus"></i><span class="d-none d-sm-inline"> เพิ่มผู้ใช้งาน</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="/add_role" class="nav-link px-0"> <i class="fa-solid fa-user-gear"></i><span class="d-none d-sm-inline"> กำหนดสิทธิ์ผู้ใช้งาน</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fa-solid fa-sitemap"></i> <span class="ms-1 d-none d-sm-inline">Splitter</span> </a>
                                <ul class="collapse nav flex-column ms-1 align-items-center" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/select_splitter" class="nav-link px-0"> <i class="fa-solid fa-pen"></i> <span class="d-none d-sm-inline">Edit</span> </a>
                                </li>
                                <li class="w-100">
                                    <a href="/add_splitter" class="nav-link px-0"> <i class="fa-solid fa-plus"></i> <span class="d-none d-sm-inline">Add</span></a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fa-solid fa-map-location-dot"></i> <span class="ms-1 d-none d-sm-inline">Marker</span> </a>
                                <ul class="collapse nav flex-column ms-1 align-items-center" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="/select_marker" class="nav-link px-0"> <i class="fa-solid fa-compass-drafting"></i> <span class="d-none d-sm-inline">Edit</span> </a>
                                </li>
                                <li class="w-100">
                                    <a href="/add_marker" class="nav-link px-0"> <i class="fa-solid fa-plus"></i> <span class="d-none d-sm-inline">Add</span></a>
                                </li>
                            </ul>
                        </li>

                        
                    </ul>
                    <hr class="dropdown-divider">
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle"> -->
                            <i class="fa-solid fa-user-gear"></i> 
                            <span class="d-none d-sm-inline mx-1">{{ user['fname'] }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
        {% endif %}
                
    <!-- <header>
        <div class="row justify-content-center bg-white py-3">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <a class="navbar-brand" href="http://research.ntplc.co.th/">
                        <img src="{{ url_for('static',filename='img/logo.jpg') }}" alt="" width="80" height="55"
                            class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>
    </header> -->
    <header>
        <div class="row justify-content-center py-3 mx-2">
            <div class="col-12">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand" href="http://research.ntplc.co.th/">
                        <img src="{{ url_for('static',filename='img/logo.png') }}" alt="" width="80" height="55"
                            class="d-inline-block align-text-top">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row my-5">
            <h1 class="text-dark text-center p-3">REGISTER</h1>
            <div class="col-6 mx-auto p-5 border shadow rounded-4 bg-white">
                <form action="/register" method="post">
                    <div class="row mb-3 my-5">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="inputFullname" class="form-label">Fullname </label>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control rounded-pill bg-purple "
                                name="inputFullname" id="inputFullname" required autofocus autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="inputEmail" class="form-label">Email </label>
                        </div>
                        <div class="col-6">
                            <input type="email" class="form-control rounded-pill bg-purple " name="inputEmail"
                                id="inputEmail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="inputPassword" class="form-label">Password </label>
                        </div>
                        <div class="col-6">
                            <input type="password" class="form-control rounded-pill bg-purple "
                                name="inputPassword" id="inputPassword">
                            <div class="form-check">
                                <div class="my-2">
                                    <!-- <input type="checkbox" class="form-check-input" id="hidePass" checked>
                                    <label class="form-check-label" for="flexCheckDefault">Hide Password</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <label for="inputRePassword" class="form-label">Re-Password </label>
                        </div>
                        <div class="col-6">
                            <input type="password" class="form-control rounded-pill bg-purple "
                                name="inputRePassword" id="inputRePassword">
                            <div class="my-2">
                                <input type="checkbox" class="form-check-input" id="hidePass" checked> Hide Password
                            </div>
                        </div>
                    </div><br>

                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button type="submit" class="btn-purple w-100 rounded-pill">Register</button>
                    </div>
                    <div class="row text-center my-3">
                        <p>Already a register ?
                            <a href="/login" class="btn-link link-purple pe-auto">Sign In</a>
                        </p>
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for messages in messages %}
                    {% if messages == '❌ Register is Failed !!' %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ messages }}
                    </div>                    
                    {% else %}
                    <div class="alert alert-warning mt-3" role="alert">
                        {{ messages }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <br>
                </form>
            </div>
        </div>
    </div>
    {% if user != None %}
            </div>
        </div>
    </div>
    {% endif %}
    
    <script src="{{ url_for('static',filename='bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script>
        document.getElementById('hidePass').addEventListener('change', function (event) {
            event.preventDefault();
            let pw = document.getElementById("inputPassword");
            (pw.type === "password") ? pw.type = "text" : pw.type = "password";
            let rpw = document.getElementById("inputRePassword");
            (rpw.type === "password") ? rpw.type = "text" : rpw.type = "password";
        });
        // document.getElementById('hideRepass').addEventListener('change', function (event) {
        //     event.preventDefault();
        //     let rpw = document.getElementById("inputRePassword");
        //     (rpw.type === "password") ? rpw.type = "text" : rpw.type = "password";
        // });
    </script>
</body>

</html>